# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Binary files
*~
FuncwatchResults/
funcwatch
tests/test
tests/test_multiple_parameters_0
tests/test_pointer_0_int
tests/test_pointer_1_char
tests/test_pointer_2_struct0
tests/test_pointer_3_struct1
tests/test_primitive_0_int
tests/test_primitive_1_char
tests/test_primitive_2_uchar
tests/test_primitive_3_short
tests/test_struct_0
tests/test_struct_1_pointer_member
tests/test_struct_2_struct_pointer_member
tests/test_union_0
tests/test_union_1
tmp